form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 20%;
    border: solid 2px #28a745;
    padding: 15px;
}
input{
    margin-top: 5px;
}
#gender_man{
    margin-left: 3px;
    margin-top: 7px;
}
#gender_woman{
    margin-left: 3px;
    margin-top: 7px;
}
.form-check-label{
    margin-left: 20px;
}
.btn{
    margin-top: 10px;
}
.container{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
}